.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 12px 12px 12px 0;
  padding: 32px;
  height: calc(100% - 24px);

  h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #64748b;
    margin-left: 8px;
  }
}
