.select__role {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 64px;

  border-radius: 16px;
  padding: 0 24px;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  cursor: pointer;

  .role__title {
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    color: #94a3b8;
    &.active {
      color: #0f1c3d;
    }
  }
  .role__list {
    // height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 16px;
    border: 1px solid #e2e8f0;
    // background-color: #f8fafc;
    background-color: #fff;

    opacity: 0;
    pointer-events: none;
    z-index: -100;
    transition: opacity 0.3s;
    overflow: hidden;
    &.active {
      opacity: 1;
      pointer-events: all;
      z-index: 100;
    }
    .item {
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 16px;
      cursor: pointer;
      color: #94a3b8;

      font-weight: 400;
      font-size: 20px;
      line-height: 100%;

      &.active {
        background-color: #f1f5f9;
        color: #0f1c3d;
      }
      &:hover {
        background-color: #f1f5f9;
      }
    }
  }
}
