.select__category {
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .toggle__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .dropdown {
    max-height: 410px;
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    right: 0;
    border-radius: 16px;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    opacity: 0;
    pointer-events: none;
    z-index: -10;
    transition: opacity 0.3s;
    overflow-y: scroll;
    will-change: scroll-position;
    -webkit-mask-image: -webkit-radial-gradient(white, black); // Safari fix
    mask-image: radial-gradient(white, black); // для современных браузеров

    &.open {
      opacity: 1;
      pointer-events: all;
      z-index: 10;
      transition: opacity 0.3s;
    }

    .category {
      display: flex;
      align-items: center;
      min-height: 64px;
      padding-left: 24px;
      & > p {
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #94a3b8;
      }

      &:hover {
        background-color: #f1f5f9;
        & > p {
          color: #0f1c3d;
        }
      }
      &.selected {
        background-color: #f1f5f9;
        & > p {
          color: #0f1c3d;
        }
      }
    }
  }
}

.title__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  .title {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #0f1c3d;
    & > span {
      color: #94a3b8;
    }
  }
}
