.summary__item {
  position: relative;
  // width: 359px;
  height: 100%;
  width: 100%;
  height: 150px;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 36px;
  &:nth-child(2) {
    .change {
      background-color: #ffe2e2b8;
      color: #e7000b;
    }
  }
  .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #64748b;
  }
  .change {
    min-width: 58px;
    padding: 5px;
    // width: 100%;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    position: absolute;
    top: 24px;
    right: 26px;
    background-color: #ffe2e2b8;
    color: #e7000b;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;

    &.grow {
      background-color: #e3fbec;
      color: #00c951;
    }
  }
  .value {
    // border: 1px solid red;

    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
  }
}
