.attributes__wrapper {
  position: relative;
  .dropdown {
    height: 576px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 16px;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 0px 12px 0px #1e1e1e14;

    opacity: 0;
    pointer-events: none;
    z-index: -10;
    transition: opacity 0.3s;
    &.open {
      opacity: 1;
      pointer-events: all;
      z-index: 100;
      transition: opacity 0.3s;
    }
    .line {
      display: flex;
      height: 1px;
      width: calc(100% - 80px);
      margin: 8px auto;
      margin-top: 0;
      background-color: #e2e8f0;
    }
    .search__wrapper {
      height: 64px;
      display: flex;
      align-items: center;
      input {
        border: none;
        &::placeholder {
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
        }
      }
      .checkbox__btn {
        display: flex;
        cursor: pointer;
        margin-right: 19px;
      }
    }

    .list__attributes {
      display: flex;
      flex-direction: column;
      gap: 8px;
      overflow-y: scroll;
      max-height: 500px;
      will-change: transform;
      .attribute {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        padding-left: 24px;
        cursor: pointer;
        &:hover {
          background-color: #f1f5f9;
        }
        &.selected {
          background-color: #f1f5f9;
        }
        .tile {
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #94a3b8;
        }
        .checkbox {
          cursor: pointer;
          display: flex;
        }

        &:first-child {
          background-color: #f1f5f9;
        }
      }
      .no__data {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #94a3b8;
      }
    }
  }

  .select__attribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 16px;
    padding: 20px;
    cursor: pointer;

    .title {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #94a3b8;
    }
    .arrow__down {
      height: 24px;
      width: 24px;
    }
  }
}
