.dashed__button {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96px;
    border-radius: 24px;

    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #8e51ff;
    border: 2px dashed #8e51ff;
    background-color: #8e51ff14;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
  }