.sms_form {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  opacity: 0;
  pointer-events: none;
  z-index: -999;
  transition: opacity 0.4s;
  .validation__error {
    height: 14px;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #fb2c36;
    margin: 0px 12px 0 12px;
  }
  &.open {
    transition: opacity 0.4s;
    opacity: 1;
    pointer-events: all;
    z-index: 10;
  }
  &__inner {
    width: 428px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1px;
    border-radius: 24px;
    padding: 36px;
    padding-bottom: 28px;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    box-shadow: 0px 0px 12px 0px #1e1e1e14;

    .sms_form__title {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #64748b;
    }
    .sms_form__label {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #94a3b8;
      span {
        color: #fb2c36;
      }
    }
    .input__wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      input {
        background-color: #fff;
        border: 1px solid #e2e8f0;

        margin-top: 16px;
        padding: 16px 18px;

        font-weight: 400;
        font-size: 19px;
        line-height: 100%;
        border-radius: 16px;
      }
      textarea {
        height: 172px;
        width: 100%;
        margin-top: 22px;
        border-radius: 16px;
        padding: 20px;
        border: 1px solid #e2e8f0;
        font-size: 18px;
        &::placeholder {
          font-weight: 300;
          font-size: 16px;
          line-height: 100%;
          color: #475569;
        }
      }
      .char_count {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        color: #475569;
        text-align: end;
        margin-top: 8px;
      }
    }

    .first_service {
      margin-top: 22px;
      .service__btn {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        margin-top: 16px;

        background-color: rgba(142, 81, 255, 0.04);
        border: 1px solid #8e51ff;
        color: #8e51ff;

        font-weight: 500;
        font-size: 19px;
        line-height: 100%;

        cursor: pointer;
        // &.selected {
        //   background-color: rgba(142, 81, 255, 0.04);
        //   border: 1px solid #8e51ff;
        //   color: #8e51ff;
        // }
      }
      // .service__toggle {
      //   display: flex;
      //   gap: 12px;

      // }
    }
    .second_service {
      position: relative;
      margin-top: 48px;

      .template_service {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px;
        margin-top: 16px;
        background-color: #f8fafc;
        border: 1px solid #e2e8f0;
        border-radius: 16px;
        cursor: pointer;
        .template__inner {
          display: flex;
          align-items: center;
          gap: 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #000;
        }
      }

      .service__dropdown {
        position: absolute;
        top: calc(100% + 16px);
        left: 0;
        width: 100%;
        max-height: 208px;
        background-color: #f8fafc;
        border: 1px solid #e2e8f0;
        box-shadow: 0px 0px 12px rgba(30, 30, 30, 0.08);
        border-radius: 16px;

        display: flex;
        gap: 8px;
        flex-direction: column;

        overflow-y: scroll;
        overflow-x: hidden;
        will-change: scroll-position;
        -webkit-mask-image: -webkit-radial-gradient(white, black); // Safari fix
        mask-image: radial-gradient(white, black); // для современных браузеров
        opacity: 0;
        pointer-events: none;
        z-index: -999;
        transition: opacity 0.4s;

        &.open {
          transition: opacity 0.4s;
          opacity: 1;
          pointer-events: all;
          z-index: 10;
        }

        .template__item {
          min-height: 64px;
          display: flex;
          align-items: center;
          padding: 0 24px;
          flex: 1;
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #94a3b8;
          cursor: pointer;
          &.selected {
            color: #0f1c3d;
            background-color: #f1f5f9;
          }
          &:hover {
            color: #0f1c3d;
            background-color: #f1f5f9;
          }

          // &:nth-child(2) {
          //   color: #94a3b8;
          // }
          &:last-child {
            color: #8e51ff;
            background-color: #8e51ff14;
            justify-content: center;
          }
        }
      }
    }
  }
  .submit_btn {
    height: 96px;
    width: 100%;
    border-radius: 24px;
    border: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #fff;
    background-color: #8e51ff;
    box-shadow: 0px 0px 12px rgba(142, 81, 255, 0.08);
    &:active {
      transform: scale(0.98);
    }
  }
}
