.profile {
  margin: 12px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  // height: 100%;
  &__inner {
    width: 1152px;
    // height: 870px;
    display: flex;
    flex-direction: column;
    padding: 64px 0;
    margin-top: 22px;
    border-radius: 24px;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    .profile__top {
      display: flex;
      align-items: center;
      gap: 48px;
      border-bottom: 1px solid #e2e8f0;
      padding: 0 64px;
      padding-bottom: 39px;
      .profile__img {
        display: flex;
        height: 196px;
        width: 196px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .profile__info {
        display: flex;
        flex-direction: column;
        gap: 14px;
        .profile__name {
          font-weight: 500;
          font-size: 36px;
          line-height: 100%;
        }
        .profile__phone {
          font-weight: 400;
          font-size: 29px;
          line-height: 100%;
          color: #8e51ff;
        }
        .profile__role {
          display: inline-flex;
          align-items: center;
          padding: 8px 16px;
          border-radius: 12px;
          background-color: #f1f5f9;
          color: #475569;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          width: fit-content;
        }
      }
    }
    .input__wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 50px 64px 0 64px;

      input {
        display: flex;
        align-items: center;
        background-color: #fff;

        border: 1px solid #e2e8f0;
        color: #0f1c3d;
        height: 64px;
        border-radius: 16px;
        padding: 0 24px;

        font-weight: 400;
        font-size: 19px;
        line-height: 100%;
        &:focus {
          border: 1px solid #8e51ff;
        }
      }
    }
    .validation__error {
      height: 14px;
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
      color: #fb2c36;
      margin: 12px 64px 0 76px;
    }
    .profile__btn {
      height: 72px;
      margin: 24px 64px 0px 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #8e51ff;
      border: none;
      border-radius: 16px;
      color: #fff;

      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      &:active {
        transform: scale(0.98);
      }
    }
  }
}
