.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(34, 34, 34, 0.161);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .backdrop__inner {
    position: relative;
    width: 552px;
    height: 424px;
    border-radius: 24px;
    background-color: #f8fafc;
    border: 1.5px solid #e2e8f0;
    box-shadow: 0px 0px 12px 0px #1e1e1e14;
    overflow: hidden;
    // padding-right: 10px;
    .close_btn {
      position: absolute;
      top: 32px;
      right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 100;
      svg {
        height: 32px;
        width: 32px;
      }
    }
  }
  .modal {
    position: absolute;
    padding: 36px;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    display: flex;
    flex-direction: column;

    & > h1 {
      font-weight: 500;
      font-size: 30px;
      color: #0f1c3d;
      line-height: 38px;
      flex-shrink: 0; // заголовок не сжимается
    }

    input {
      height: 63px;
      width: 100%;
      font-size: 18px;
      border-radius: 16px;
      padding: 20px;
      font-weight: 500;
      border: 1px solid #e2e8f0;
      color: #0f1c3d;
      &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #94a3b8;
      }
    }
    &__inner {
      margin-top: 36px;
      flex: 1; // занимает всё доступное пространство
      overflow-y: auto; // скролл только здесь
      padding-right: 10px; // небольшой отступ для красивого скролла
      padding-bottom: 100px; // отступ снизу, чтобы контент не перекрывался кнопкой
    }
    .modal__btns {
      position: absolute;
      bottom: 24px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      height: 54px;
      .btn_bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 36px;
        border-radius: 12px;

        font-weight: 500;
        font-size: 22px;
        line-height: 100%;

        cursor: pointer;

        color: #fff;
        background-color: #8e51ff;
        border: 1px solid #c4b4ff;
       
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}
