.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.161);

  &__inner {
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: 24px;
    padding: 40px;
    width: 600px;
    box-shadow: 0px 0px 12px 0px #1e1e1e14;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 32px;

      img {
        width: 48px;
        height: 48px;
      }

      p {
        font-size: 24px;
        font-weight: 600;
        color: #0f1c3d;
      }
    }

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.8rem;
      color: #0f1c3d;
    }
  }

  .sections__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      margin-left: 5px;
      color: #666;
    }

    input {
      height: 64px;
      width: 100%;
      border-radius: 16px;
      padding: 20px;
      border: 1px solid #e2e8f0;
      background-color: #fff;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      transition: border-color 0.3s;

      &::placeholder {
        color: #94a3b8;
      }

      &:focus {
        outline: none;
        border-color: #8e51ff;
      }
    }
    .password {
      height: 64px;
      display: flex;
      align-items: center;
      border: 1px solid #e2e8f0;
      background-color: #fff;
      border-radius: 16px;
      .password__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 64px;
        cursor: pointer;
        border-radius: 16px;
      }
      input {
        height: 100%;
        border: none;
      }
    }
  }

  .btn__submit {
    width: 100%;
    height: 72px;
    background: #8e51ff;
    color: #fff;
    border: none;
    border-radius: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 24px;

    &:hover {
      background: #7c3ff0;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .login__link {
    margin-top: 24px;
    text-align: center;

    p {
      color: #666;
      font-size: 16px;

      a {
        color: #8e51ff;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
