.table {
  width: 100%;
  margin-top: 10px;
  border: none;
  border-collapse: separate;
  border-spacing: 0 14px;

  
  .row {
    height: 64px;
    background-color: #f8fafc;

    .default__th {
      color: #0f1c3d;
    }
    .default__td {
      color: #64748b;
    }
  }

  th,
  td {
    height: 100%;
    font-weight: 400;
    line-height: 100%;
    font-size: 20px;
  }

  .default__th,
  .default__td {
    padding: 10px 0px 10px 48px;
    text-align: start;
    // border: 1px solid red;
  }

  thead {
    .row {
      &:first-child {
        th:first-child {
          border-top-left-radius: 12px;
        }
        th:last-child {
          border-top-right-radius: 12px;
        }
      }
    }
  }

  tbody {
    .row {
      &:last-child {
        td:first-child {
          border-bottom-left-radius: 12px;
        }
        td:last-child {
          border-bottom-right-radius: 12px;
        }
      }
    }
  }
}
