.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(34, 34, 34, 0.161);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    position: relative;
    background-color: #f8fafc;
    border: 1.5px solid #e2e8f0;
    width: 768px;
    height: 274px;
    border-radius: 24px;
    padding: 36px 32px 32px 36px;
    box-shadow: 0px 0px 12px 0px #1e1e1e14;

    h1 {
      font-weight: 500;
      font-size: 30px;
      color: #0f1c3d;
      //   border: 1px solid red;
      line-height: 38px;
    }

    .close_btn {
      position: absolute;
      top: 32px;
      right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        height: 32px;
        width: 32px;
      }
    }
  }
  &__desc {
    width: 600px;
    margin-top: 13px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #94a3b8;
    // border: 1px solid red;
  }
  .modal__btns {
    position: absolute;
    right: 32px;
    bottom: 32px;
    display: flex;
    gap: 16px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 126px;
      height: 54px;
      border-radius: 12px;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      cursor: pointer;
      &:active {
        transform: scale(0.98);
      }
    }
    .btn_not {
      color: #0f1c3d;
      background-color: #fff;
      border: 1px solid #e2e8f0;
    }
    .btn_yes {
      color: #fff;
      background-color: #8e51ff;
      border: 1px solid #c4b4ff;
    }
  }
}
