.barcode {
  width: 100%;
  // border: 1px solid red;
  & > h3 {
    margin-top: 24px;
    padding-left: 4px;
  }

  .empty {
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .barcode__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 35px;

    .barcode__item {
      display: flex;
      flex-direction: column;
      // width: 480px;
      width: 100%;
      height: 360px;
      overflow: hidden;

      border-radius: 24px;
      border: 1px solid #e2e8f0;
      background-color: #f4f6f8;
      .item__header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        background-color: #fff;
        margin: 24px;
        border-radius: 12px;
        padding: 24px 0;
        .size {
          position: absolute;
          height: 56px;
          width: 56px;
          top: 20px;
          right: 20px;
          border-radius: 100%;
          color: #0f1c3d;
          background-color: #0f1c3d14;
          display: flex;
          align-items: center;
          justify-content: center;

          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
        }
        .price {
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          color: #0f1c3d;
        }
        .title {
          margin-top: 6px;
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          color: #64748b;
        }
        img {
          margin-top: 15px;
          width: 100%;
          // width: 342px;
          height: 56px;
        }
        canvas {
          margin-top: 10px;
          width: 330px;
          height: 56px;
          // border: 1px solid red;
        }
        .barcode__id {
          margin-top: 5px;
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: #64748b;
        }
      }
      .item__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px;
        height: 108px;
        background-color: #fff;
        h2 {
          font-weight: 400;
          font-size: 30px;
          line-height: 100%;
          color: #000;
        }
        span {
          height: 64px;
          width: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 26px;
          cursor: pointer;

          svg {
            height: 40px;
            width: 40px;
          }
          &:active {
            transform: scale(0.96);
          }
        }
      }
    }
  }
}
