.calendar__wrapper {
  :global {
    .rdp-nav {
      left: 0;
      display: flex;
      justify-content: space-between;

      button {
        display: flex;
        // height: 26px;
        height: 100%;
        width: 100%;
        width: 26px;

      }
      .rdp-button_previous {
        margin-left: 4px;

      }
      .rdp-button_next {
        margin-right: 4px;

      }
      .rdp-chevron {
        height: 26px !important;
        width: 26px !important;
        fill: #0f1c3d;

      }
    }

    .rdp-month {

      .rdp-month_caption {
        .rdp-dropdowns {
          display: flex;
          justify-content: center;
          left: 50%;
          transform: translateX(-50%);
          gap: 8px;
        }
      }
      .rdp-month_grid {
        margin-top: 26px;
        border-collapse: separate;
        border-spacing: 0 10px;

        .rdp-weekdays {
          gap: 10px;

          .rdp-weekday {
            height: 24px;
            font-weight: 400;
            font-size: 19px;
            line-height: 100%;
            color: #768293;
            opacity: 1;
          }
        }
        .rdp-weeks {
          .rdp-week {
            .rdp-outside {
              opacity: 1;
            }
            .rdp-day {
              width: 46px !important;
              height: 48px !important;
              border-radius: 12px;
              overflow: hidden;
              &.rdp-today {
                background-color: #8e51ff0a;
              }
              &.rdp-outside {
                .rdp-day_button {
                  color: #94a3b8;
                }
              }
              &.rdp-selected {
                background-color: #8e51ff;
                .rdp-day_button {
                  color: #fff;
                }
              }
              .rdp-day_button {
                width: 100% !important;
                height: 100% !important;
                border: none;
                font-weight: 400;
                font-size: 22px;
                line-height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .wrapper {
    position: relative;

    .btn {
      min-width: 105px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border-radius: 12px;
      border: 1px solid #e2e8f0;
      background-color: #fff;
      padding: 12px 14px;
      .title {
        font-weight: 500;
        font-size: 19px;
        line-height: 100%;
      }
    }

    .dropdown {
      max-height: 242px;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 8px);
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      padding-left: 1px;
      border: 1px solid #e2e8f0;
      background-color: #fff;
      box-shadow: 0px 0px 12px 0px #1e1e1e14;

      opacity: 0;
      pointer-events: none;
      z-index: -1;

      overflow-y: scroll;
      overflow-x: hidden;
      will-change: scroll-position;
      -webkit-mask-image: -webkit-radial-gradient(white, black); // Safari fix
      mask-image: radial-gradient(white, black); // для современных браузеров

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: #0f1c3d;
        border-radius: 8px;
        transition: background 0.3s ease;
      }

      &.open {
        opacity: 1;
        pointer-events: all;
        z-index: 10;
        transition: opacity 0.3s;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 60px;

        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #94a3b8;
        cursor: pointer;
        border-radius: 8px;

        &.selected {
          color: #00f;
          background-color: #8e51ff0a;
        }
        &:hover {
          color: #0f1c3d;
          background-color: #f1f5f9;
        }
      }
    }
  }
}
